<!doctype html>
<html>
    <head>
        <title>List Webpage!</title>
    </head>
    <body>
        <h1>This is the List Page</h1>
        <p>You can see names and prices of all avaialable books at our book shop here:</p>
        <ul>
            <% availableBooks.forEach(function(book){ %>
            <li><%= book.name %>: $<%= book.price%></li>
        <% }) %>
        </ul>
        <h4><br>
            View all books!</h4>
            <p><a href = "/list">List of books:</a></p>
        <h4><br>
            Search all books!</h4>
            <p><a href = "/search">Search:</a></p>
        <h4><br>
            Add a book!</h4>
            <p><a href = "/addbook">Add a book:</a></p>
        <h4><br>
            Register!</h4>
            <p><a href = "/register">Register:</a></p>
        <h4><br>
            About</h4>
            <p><a href = "/about">About:</a></p>
    </body>
</html>